.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 64px;
  z-index: 4;
  background-color: white;
  margin-bottom: 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.gradient-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(left, #768fed 0%, #b13ad5 97%);
  -webkit-background-clip: text;
  background-clip: white;
  -webkit-text-fill-color: transparent;
}

.btn {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border: 1px solid #8157a1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 9px 31px;
  cursor: pointer;
  margin-left: 32px;
}

.fill-btn {
  background: #8157a1;
  color: #ffffff;
}

.body {
  padding-bottom: 72px;
}
