@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Prompt;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

hr {
  color: black;
  background: black;
  border: 0.25px solid black;
}

/* navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 64px;
  z-index: 4;
  background-color: white;
  margin-bottom: 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.gradient-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(left, #768fed 0%, #b13ad5 97%);
  -webkit-background-clip: text;
  background-clip: white;
  -webkit-text-fill-color: transparent;
}

.btn {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border: 1px solid #8157a1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 9px 31px;
  cursor: pointer;
  margin-left: 32px;
  min-width: 203px;
}

.fill-btn {
  background: #8157a1;
  color: #ffffff;
}

.body {
  padding-bottom: 72px;
}

.form-container {
  border: 2px solid #8157a1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 72px 72px 36px 72px;
  margin: 0px 64px;
}

.project-container {
  border: 1px solid #8157a1;
  box-sizing: border-box;
  border-radius: 12px;
  /* padding: 72px 72px 36px 72px; */
  /* margin: 0px 64px; */
}

.section {
  padding: 30px 0px;
}

.row {
  display: flex;
}

.two-col {
  width: 50%;
}

.right-col {
  margin-left: 30px;
}

.one-col .ant-col-6 {
  flex: 0 0 12.5%;
}

.ant-form-item {
  margin-bottom: 36px;
}

.ant-picker {
  width: 100%;
  border: 1px solid #8157a1;
}

.ant-picker:hover,
.ant-input:hover,
.ant-input-password:hover,
.ant-btn:hover,
.ant-radio-input:hover,
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid #c092e0 !important;
}

.ant-input-affix-wrapper .ant-input:hover {
  border: none !important;
}

.ant-input,
.ant-input-password,
.ant-btn,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #8157a1;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #8157a1;
}

.ant-radio-inner::after {
  background-color: #8157a1;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  color: #fff;
  background: #8157a1;
}

.ant-form-item-label {
  text-align: left;
}

.ant-picker-today-btn {
  color: #8157a1;
}

.ant-picker-today-btn:hover,
.ant-picker-month-btn:hover,
.ant-picker-year-btn:hover,
.ant-picker-decade-btn:hover {
  color: #c092e0 !important;
}

.ant-btn:hover {
  color: #c092e0;
}

.ant-btn:focus {
  color: #c092e0;
  border: 1px solid #c092e0;
}

.btn-container {
  text-align: right;
}

.ant-form-item-control-input-content {
  margin-left: 30px;
}

.with-height
  .ant-form-item-control
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  .ant-input {
  height: 178px !important;
}
